<div class="wrapper">
  <div class="header">
    <div class="header-child">
    <div class="date">{{date | date:'dd / MM / YYYY'}}</div>
    <div class="time">{{date | date:'h:mm:ss a'}}</div>
  </div>
    <div class="title">To-Do-List</div>
    
  </div>
  <div class="main">

    <div class="box">
      <textarea name="todolist" id="todolist"  rows="5" cols="50" #todolist [(ngModel)]="todoitem"></textarea>
      <button class="submit" name="submit"  (click)="submit()">Submit</button>
    </div>
  </div>
  <div class="footer">
    <div class="list"></div>
  </div>
</div>